html {font-size: 10px;font-family: "Open Sans", Gadget, sans-serif;background-color: rgb(247, 247, 247);}

h1 {font-size: 40px;text-align: center;padding: 0px;color: rgb(0, 0, 0);  }

p {text-align: center;font-size: 16px;line-height: 2;letter-spacing: 1px;color: rgb(0, 0, 0);  }